/*<div class="loadingio-spinner-dual-ring-e4a0c55pqct"><div class="ldio-w0shbc3z4fm">
<div></div><div><div></div></div>
</div></div>

<style type="text/css"></style>*/
@keyframes ldio-w0shbc3z4fm {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-w0shbc3z4fm div { box-sizing: border-box!important }
.ldio-w0shbc3z4fm > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #ea3f34 transparent #ea3f34 transparent;
  animation: ldio-w0shbc3z4fm 1s linear infinite;
}
.ldio-w0shbc3z4fm > div:nth-child(2) { border-color: transparent }
.ldio-w0shbc3z4fm > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-w0shbc3z4fm > div:nth-child(2) div:before, .ldio-w0shbc3z4fm > div:nth-child(2) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #ea3f34;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #ea3f34;
}
.ldio-w0shbc3z4fm > div:nth-child(2) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #ea3f34;
}
.loadingio-spinner-dual-ring-e4a0c55pqct {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: white;
}
.ldio-w0shbc3z4fm {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-w0shbc3z4fm div { box-sizing: content-box; }

/* generated by https://loading.io/ */
